.field {
    width: 100%;
    padding: 8px 0px;
}

.halfField {
    width: 48%;
    padding: 8px 0px;
}

.thirdField {
    width: 32%;
    padding: 8px 0px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
