.form {
    width: 100%;
}

.logo {
    width: 100%;
    margin-bottom: 50px;
}

.image {
    width: 15vw;
    height: 20vh;
}

.button {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.footer {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.strong {
    cursor: pointer;
    color: #026aa7;
    margin-left: 5px;
}

.strong:hover {
    color: #0079bf;
}
