.ui.segment {
    height: 94vh;
    margin: 0 !important;
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.ui.menu {
    margin: 0 !important;
    box-shadow: none !important;
    background: #fff !important;
}
