html {
    min-height: 100vh;
    position: relative;
    scroll-behavior: smooth;
    font-family: Geomanist !important;
}

body {
    margin: 0px;
    padding: 0px;
    background: #f8f8f8;
    box-sizing: border-box;
}
