html {
    margin: 0px !important;
    padding: 0px !important;
    width: 100vw !important;
    height: 100vh !important;
    position: relative !important;
    line-height: normal !important;
    background: #f8f8f8 !important;
    box-sizing: border-box !important;
    font-family: Geomanist !important;
    scroll-behavior: smooth !important;
}

body {
    margin: 0px !important;
    padding: 0px !important;
    width: 100vw !important;
    height: 100vh !important;
    line-height: normal !important;
    background: #f8f8f8 !important;
    box-sizing: border-box !important;
    font-family: Geomanist !important;
}
