.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100%;
}

.image {
    width: 15vw;
    height: 20vh;
}

.field {
    width: 100%;
}

.footer {
    margin-top: 40px;
}

.strong {
    cursor: pointer;
    color: #094c72;
    margin-left: 5px;
}

.button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.grid {
    justify-content: center;
    align-items: center;
    margin-top: 22px !important;
}

.logo {
    margin-top: 131px !important;
}

.iptEmail {
    margin-top: 40px;
    margin-bottom: 18px;
}

.iptPassword {
    margin-bottom: 23px;
}

.btLogin {
    margin-bottom: 35px;
    margin-right: 34px;
}

.btRegister {
    margin-right: 30px;
}
