.content {
    width: 240;
    display: flex;
    flex-wrap: 'wrap';
    align-items: 'flex-start';
    justify-content: flex-start;
}

.field {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.controller {
    width: '100%';
}

.error {
    color: red;
    width: '100%';
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}
