.segment {
    width: 100%;
    padding-top: 20px;
}

.header {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
}

.headerIconContent {
    padding: 8px;
    display: flex;
    border-radius: 20px;
    align-items: center;
    background: #0079bf;
    justify-content: center;
}

.headerIcon {
    color: #ffffff;
    padding: 0px !important;
    margin: 1px 0px !important;
    font-size: 1.5em !important;
}

.title {
    font-size: 28px;
    color: #0079bf;
    margin-left: 10px;
    font-family: Geomanist-Medium;
}

.divider {
    height: 2px;
    background: #393e40;
}

.content {
    margin-top: 30px;
}

.buttonContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    padding: 10;
    margin-bottom: 30;
}

.button:hover > div > span > i {
    transition: 1s ease;
    transform-origin: center;
    transform: rotate(360deg);
}

.icon {
    color: '#FFFFFF';
}
